.pagination-total {
    border-bottom-style: none !important;
    border-top-style: none !important;
    border-right-style: none !important;
    color: #000000 !important;
    pointer-events: none;
}

.background-color-white {
    background-color: #ffffff;
}

.custom-body {
    padding: 15px 20px 0
}

.loadingZZ {
    width:100%;
    height:100%;
    background-color: #ffffff;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    position:absolute;
    left:0;
    top:0;
    z-index:3000;
}
.loadingImg{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 50%;
    background: url("/static/assets/images/loading128.gif") no-repeat center;
    margin-left: -75px;
    z-index: 3500;
}